body{
	font-family: sans-serif,Helvetica,Arial;
}
.text-observacion.noselected{
	background-color: transparent;
	border-style: double;
    border-width: 0 0 0 0;
    
}
.text-observacion.selected{
	background-color: #fff;
	/*border-style: double;
    border-width: 0 0 2px;*/
}
